<div class="page-header">
  <h1>
    Users
    <a href="/users/new" class="btn btn-lg btn-success">New User</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>City</th>
        <th>Rolefunction</th>
        <th>Industry</th>
        <th>Stateorcountry</th>
        <th>Region</th>
        <th>Actions</th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.city.name %></td>
        <td><%= user.rolefunction.name %></td>
        <td><%= user.industry.name %></td>
        <td><%= user.stateorcountry_id %></td>
        <td><%= user.region_id %></td>
        <td>
          <a href="/users/<%= user.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
