<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>City</dt>
      <dd>
        <% if @user.city.present? %>
          <a href="/cities/<%= @user.city_id %>">
            <%= @user.city.name %>
          </a>
        <% end %>
      </dd>

      <dt>Rolefunction</dt>
      <dd>
        <% if @user.rolefunction.present? %>
          <a href="/rolefunctions/<%= @user.rolefunction_id %>">
            <%= @user.rolefunction.name %>
          </a>
        <% end %>
      </dd>

      <dt>Industry</dt>
      <dd>
        <% if @user.industry.present? %>
          <a href="/industries/<%= @user.industry_id %>">
            <%= @user.industry.name %>
          </a>
        <% end %>
      </dd>

      <dt>Stateorcountry</dt>
      <dd>
        <% if @user.stateorcountry.present? %>
          <a href="/stateorcountries/<%= @user.stateorcountry_id %>">
            <%= @user.stateorcountry.name %>
          </a>
        <% end %>
      </dd>

      <dt>Region</dt>
      <dd>
        <% if @user.region.present? %>
          <a href="/regions/<%= @user.region_id %>">
            <%= @user.region.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
