<!-- Validation failure messages -->
<% if @stateorcountry.errors.any? %>
  <% @stateorcountry.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Stateorcountry #<%= @stateorcountry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_stateorcountry/<%= @stateorcountry.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @stateorcountry.name %>">
      </div>

      <!-- Label and input for region_id -->
      <div class="form-group">
        <label for="region_id" class="control-label">
          Region
        </label>

        <%= select_tag(:region_id, options_from_collection_for_select(Region.all, :id, :name, @stateorcountry.region_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Stateorcountry
      </button>
      or
      <a href="/stateorcountries/<%= @stateorcountry.id %>">Cancel</a>
    </form>
  </div>
</div>
