<div class="page-header">
  <h3>Stateorcountry #<%= @stateorcountry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @stateorcountry.name %></dd>

      <dt>Region</dt>
      <dd>
        <% if @stateorcountry.region.present? %>
          <a href="/regions/<%= @stateorcountry.region_id %>">
            <%= @stateorcountry.region.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/stateorcountries" class="btn btn-primary">
        Back
      </a>
      <a href="/stateorcountries/<%= @stateorcountry.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_stateorcountry/<%= @stateorcountry.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Stateorcountry has many cities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cities
      </li>

      <% @stateorcountry.cities.each do |city| %>
        <li class="list-group-item">
          <a href="/cities/<%= city.id %>">
            <%= city.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cities/<%= city.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cities/<%= city.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_city/<%= city.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_city" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for stateorcountry_id -->
      <input type="hidden" name="stateorcountry_id" value="<%= @stateorcountry.id %>">

      <button class="btn btn-block btn-success">
        Create City
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Stateorcountry has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @stateorcountry.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>
