<!-- Validation failure messages -->
<% if @city.errors.any? %>
  <% @city.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit City #<%= @city.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_city/<%= @city.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @city.name %>">
      </div>

      <!-- Label and input for stateorcountry_id -->
      <div class="form-group">
        <label for="stateorcountry_id" class="control-label">
          Stateorcountry
        </label>

        <%= select_tag(:stateorcountry_id, options_from_collection_for_select(Stateorcountry.all, :id, :name, @city.stateorcountry_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update City
      </button>
      or
      <a href="/cities/<%= @city.id %>">Cancel</a>
    </form>
  </div>
</div>
