<div class="page-header">
  <h3>Region #<%= @region.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @region.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/regions" class="btn btn-primary">
        Back
      </a>
      <a href="/regions/<%= @region.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_region/<%= @region.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Region has many stateorcountries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Stateorcountries
      </li>

      <% @region.stateorcountries.each do |stateorcountry| %>
        <li class="list-group-item">
          <a href="/stateorcountries/<%= stateorcountry.id %>">
            <%= stateorcountry.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/stateorcountries/<%= stateorcountry.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/stateorcountries/<%= stateorcountry.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_stateorcountry/<%= stateorcountry.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_stateorcountry" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for region_id -->
      <input type="hidden" name="region_id" value="<%= @region.id %>">

      <button class="btn btn-block btn-success">
        Create Stateorcountry
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Region has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @region.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>
